@mixin letters($fam,$f,$c){
    font-family:$fam;
    font-size: $f;
    color: $c;
}

@mixin mobile() {
    @media screen and (max-width: 470px) {
      @content;
    }
  }

@mixin tablet() {
    @media screen and (min-width: 470px) and (max-width: 780px) {
      @content;
    }
  }

@mixin comp() {
    @media screen and (min-width: 780px) and (max-width: 1000px) {
      @content;
    }
  } 
