@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";

.html {
    box-sizing: border-box;
  }
//header start
.header {
  background-image: url(../img/bk_header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}

.header__top {
  box-sizing: border-box;
  @include letters($M, 13px, #FFFFFF);
  display: flex;
  justify-content: space-between;
  padding: 18px 0 14px;
  @include mobile() {
    @include letters($M, 10px, #FFFFFF);
  }
}

.header__center {
  opacity: 0.8;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  @include letters($M, 14px, #FFFFFF);
  @include mobile() {
    border-top: none;
    border-bottom: none;
  }
      ul {
      height: 50px;
      display: flex;
      justify-content: space-between;
      @include mobile() {
        display: flex;
        flex-wrap: wrap;
      }
      a {
        @include mobile() {
          display: block;
        }
      }
      
      .navbar__item {
        padding-top: 15px;
        flex-grow: 1;
        text-align: center;
        border-right: 1px solid #FFFFFF;
        transition-duration: 1s;
        @include mobile() {
          min-width: 50%;
          border-right: none;
          height: 40px;
          border-bottom: 1px solid #FFFFFF;
        }
      }
      .navbar__item:last-child {
        border-right: none;
      }
      .navbar__item:hover {
        background-color: #969696e0;
        transition-duration: 1s;
      }
    }
  }

  .header__button {
    display: flex;
    justify-content: center;
    margin-top: 583px;
    @include tablet() {
      margin-top: 270px;
    }
    @include mobile() {
      flex-direction: column;
      align-items:center;
      margin-top: 200px;
      height: 120px;
      justify-content: space-between;
    }
    .bouton_left {
      margin-right: 30px;
      @include mobile() {
        margin: 0 auto;
      }
    }
    .button_right {
      margin-left: 30px;
      @include mobile() {
        margin: 0 auto;
      }
    }
  }
  //header end
  //business_card start
  .business_card {
    background: #282828;
    padding: 100px 0;
    @include comp() {
      padding: 80px 0;
    }
    @include tablet() {
      padding: 50px 0;
    }
    @include mobile() {
      padding: 40px 0;
    }
  }
  .card {
    border: 1px solid #FFFFFF;
    padding: 60px 0;
    @include comp() {
      padding: 50px 0;
    }
    @include tablet() {
      padding: 30px 0;
    }
   @include mobile() {
      padding: 25px 0;
    }
  }
    .card__title {
      @include letters($PD, 19px, #FFFFFF);
      text-align: center;
      @include comp() {
        @include letters($PD, 14px, #FFFFFF);
      }
      @include tablet() {
        @include letters($PD, 11px, #FFFFFF);
      }
      @include mobile() {
        @include letters($PD, 9px, #FFFFFF);
      }
    }
    .card__content {
      @include letters($M, 16px, #FFFFFF);
      line-height: 150%;
      text-align: center;
      margin: 40px 187px 50px 190px;
      @include comp() {
        @include letters($PD, 12px, #FFFFFF);
        margin: 40px 137px 50px 140px;
      }
      @include tablet() {
        @include letters($PD, 12px, #FFFFFF);
        margin: 30px 60px 30px 60px;
      }
      @include mobile() {
        @include letters($PD, 10px, #FFFFFF);
        margin: 20px 40px 20px 40px;
      }
    }
    .card__glass {
      max-width: 160px;
      max-height: 160px;
      margin: 0 auto;
    }
  

  .title_name {
    line-height: 150%; 
    .line {
      width: 160px;
      height: 1px;
      background-color: #FFFFFF;
      margin: 0 auto;
      margin-top: 50px;
      @include mobile() {
        margin-top: 20px;
      }
  }
  }
   //business_card end