@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";

.html {
    box-sizing: border-box;
  }
//header start
.header {
  background-image: url(../img/bk_header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}

.header__top {
  box-sizing: border-box;
  @include letters($M, 13px, #FFFFFF);
  display: flex;
  justify-content: space-between;
  padding: 18px 0 14px;
  @include mobile() {
    @include letters($M, 10px, #FFFFFF);
  }
}

.header__center {
  opacity: 0.8;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  @include letters($M, 14px, #FFFFFF);
  @include mobile() {
    border-top: none;
    border-bottom: none;
  }
      ul {
      height: 50px;
      display: flex;
      justify-content: space-between;
      @include mobile() {
        display: flex;
        flex-wrap: wrap;
      }
      a {
        @include mobile() {
          display: block;
        }
      }
      
      .navbar__item {
        padding-top: 15px;
        flex-grow: 1;
        text-align: center;
        border-right: 1px solid #FFFFFF;
        transition-duration: 1s;
        @include mobile() {
          min-width: 50%;
          border-right: none;
          height: 40px;
          border-bottom: 1px solid #FFFFFF;
        }
      }
      .navbar__item:last-child {
        border-right: none;
      }
      .navbar__item:hover {
        background-color: #969696e0;
        transition-duration: 1s;
      }
    }
  }

  .header__button {
    display: flex;
    justify-content: center;
    margin-top: 583px;
    @include tablet() {
      margin-top: 270px;
    }
    @include mobile() {
      flex-direction: column;
      align-items:center;
      margin-top: 200px;
      height: 120px;
      justify-content: space-between;
    }
    .bouton_left {
      margin-right: 30px;
      @include mobile() {
        margin: 0 auto;
      }
    }
    .button_right {
      margin-left: 30px;
      @include mobile() {
        margin: 0 auto;
      }
    }
  }
  //header end
  //business_card start
  .business_card {
    background: #282828;
    padding: 100px 0;
    @include comp() {
      padding: 80px 0;
    }
    @include tablet() {
      padding: 50px 0;
    }
    @include mobile() {
      padding: 40px 0;
    }
  }
  .card {
    border: 1px solid #FFFFFF;
    padding: 60px 0;
    @include comp() {
      padding: 50px 0;
    }
    @include tablet() {
      padding: 30px 0;
    }
   @include mobile() {
      padding: 25px 0;
    }
  }
    .card__title {
      @include letters($PD, 19px, #FFFFFF);
      text-align: center;
      .title {
        @include mobile() {
          line-height: 120%;
        }
      }
      @include comp() {
        @include letters($PD, 14px, #FFFFFF);
      }
      @include tablet() {
        @include letters($PD, 11px, #FFFFFF);
      }
      @include mobile() {
        @include letters($PD, 9px, #FFFFFF);
      }
    }
    .card__content {
      @include letters($M, 16px, #FFFFFF);
      line-height: 150%;
      text-align: center;
      margin: 40px 187px 50px 190px;
      @include comp() {
        @include letters($M, 12px, #FFFFFF);
        margin: 40px 137px 50px 140px;
      }
      @include tablet() {
        @include letters($M, 12px, #FFFFFF);
        margin: 30px 60px 30px 60px;
      }
      @include mobile() {
        @include letters($M, 8px, #FFFFFF);
        margin: 20px 40px 20px 40px;
      }
    }
    .card__glass {
      max-width: 160px;
      max-height: 160px;
      margin: 0 auto;
    }
  

  .title_name {
    line-height: 150%; 
  }
  .line {
    width: 160px;
    height: 1px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 50px;
    @include mobile() {
      margin-top: 20px;
    }
  }
  //business_card end
  //info_card start
  .info_card {
    background: #E6E3C4;
    padding: 80px 0;
    @include tablet() {
      padding: 40px 0;
     }
    @include mobile() {
      padding: 20px 0;
     } 
  }

  .info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
    padding: 60px 0;
    @include tablet() {
      display: block;
      padding: 20px 0;
     }
    @include mobile() {
      display: block;
      padding: 10px 0;
     }
  }

  .harvest {
    flex-basis: 40%;
    @include comp() {
      flex-basis: 100%;
     }
    .subtitle {
      @include letters($M, 16px, #000000);
      @include mobile() {
        @include letters($M, 12px, #000000);
       } 
    }

    .info_title {
      margin-top: 30px;
      @include letters($PD, 36px, #000000);
      line-height: 150%;
      @include tablet() {
        margin-top: 15px;
       }
      @include mobile() {
        margin-top: 10px;
        @include letters($PD, 24px, #000000);
       }  
    }
    .line {
      background: #282828;
      margin: 30px 0 30px 0;
    }
    .info_text {
      @include letters($M, 14px, #282828);
      line-height: 150%;
      @include mobile() {
        @include letters($M, 10px, #282828);
       } 
    }
    table {
      margin: 30px 0;
      max-width: 100%;
      border-collapse: collapse; 
      .post-1 {
        @include letters($M, 14px, #282828);
        padding: 10px 24px;
        border-right: 1px solid #282828;
        @include mobile() {
          padding: 0px 12px;
         } 
      }
      .post-2  {
        padding: 0px 30px;
        @include mobile() {
          padding: 0px 10px;
         }
      }
      .post_title {
        @include letters($PD, 18px, #282828);
        line-height: 80%;
        font-weight: 900;
        margin-top: 10px;
        @include mobile() {
          @include letters($PD, 12px, #282828);
         }
      }
      .post_text {
        @include letters($M, 14px, #282828);
        line-height: 150%;
        @include mobile() {
          @include letters($M, 10px, #282828);
         }
      }
      tr  {
        border-bottom: 1px solid #282828;
      }
      tr:last-child {
        border-bottom: none;
      }
    }
    .info_button {
      margin-top: 30px;
      max-width: 254px;

    }
  }

  .images {
    flex-basis: 48%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    @include comp() {
      flex-basis: 30%;
     }
     @include tablet() {
      margin-top: 20px;
     }
     @include mobile() {
      margin-top: 20px;
     }
    .images_top {
      margin-bottom: 30px;
      @include comp() {
       max-width: 100%;
       margin-bottom: 15px;
      }
      @include tablet() {
        width: 100%;
       }
      @include mobile() {
        width: 100%;
       }
    }
     .images_right {
      margin-bottom: 30px;
      @include comp() {
       max-width: 100%;
       margin-bottom: 0;
       margin-top: 15px;
      }
      @include tablet() {
        width: 50%;
       }
      @include mobile() {
        width: 100%;
       } 
  }
  .images_left {
    margin-bottom: 30px;
    @include comp() {
      margin-bottom: 0px;
     }
     @include tablet() {
      width: 50%;
     }
    @include mobile() {
      width: 100%;
     } 
  } 
}
.images img {
  transition-duration: 1s;
}

.images img:hover {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  transition-duration: 2s;
}

   //info_card end
  //recording start
.recording {
  background: #282828;
  padding: 130px 0 100px;
  @include tablet() {
    padding: 80px 0 60px;
   }
  @include mobile() {
    padding: 50px 0 40px;
   }
}

.sheet {
  position: relative;
  padding: 105px 285px 75px;
  border: 3px solid #C4C4C4;
  @include comp() {
    padding: 100px 100px 45px;
   }
  @include tablet() {
    padding: 80px 50px 35px;
   }
  @include mobile() {
    padding: 80px 50px 35px;
   }
  .sheet_title {
    position: absolute;
    background: #282828;
    left: 50%;
    margin-left: -270px;
    top: -50px;
    @include letters($PD, 36px, #FFFFFF);
    padding: 10px 50px;
    @include tablet() {
      @include letters($PD, 26px, #FFFFFF);
      margin-left: -203px;
     }
    @include mobile() {
      @include letters($PD, 16px, #FFFFFF);
      margin-left: -115px;
      padding: 10px 20px;
      top: -30px;
     }
  }
  .sheet_left {
    position: absolute;
    left: -130px;
    top: -130px;
    @include comp() {
      display: none;
     }
    @include tablet() {
      display: none;
     }
    @include mobile() {
      display: none;
     }
  }
  .sheet_right {
    position: absolute;
    right: -130px;
    top: -100px;
    @include comp() {
      display: none;
     }
    @include tablet() {
      display: none;
     }
    @include mobile() {
      display: none;
     }
  }
  .sheet_text {
    @include letters($M, 16px, #FFFFFF);
    line-height: 150%;
    text-align: center;
    @include tablet() {
      @include letters($M, 13px, #FFFFFF);
     }
    @include tablet() {
      @include letters($M, 13px, #FFFFFF);
     }
    @include mobile() {
      @include letters($M, 12px, #FFFFFF);
     }
  }
  .fields {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 60px 0 30px;
    @include mobile() {
      margin: 20px 0 20px;
     }
    .fields_left {
      flex: 0 1 47%;
      @include mobile() {
        flex: 0 1 100%;
       }
    }
    .fields_right {
      flex: 0 1 47%;
      @include mobile() {
        flex: 0 1 100%;
        margin-top: 15px;
       }
    }
    .fields_center {
      margin-top: 30px;
      flex: 0 1 100%;
      @include mobile() {
        margin-top: 15px;
       }
    }
    .fields_text {
      @include letters($M, 13px, #FFFFFF);
      line-height: 150%;
      background: #282828;
      text-decoration: none;
      border: none;
      border-bottom: 1px solid #FFFFFF; 
      height: 30px;
    }
  }
  .recording_button {
    background: #282828;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 20px;
    transition-duration: 0.5s;
    border: 1px solid #ffffffb7;
    padding: 15px 0;
  }
  .recording_button:hover {
    transition-duration: 1s;
    background: #63ad1ca4;
  }
}



   //recording end