extends layouts/default
include helpers/mixins

block variables
	- const title = "wine-shope"

	mixin card(images, text, price)
		.card__img 
			img.hours-img(src= images, alt="hours")
			h3.card__subtitle: a.card-link.link-w(href='#')= text
			p.price: a.card-link.link-w.text_price(href='#')= price

block content
		header.header
			.container
				.header__top
					p.address Новокузнечный переулок 4/1
					p.telephone 8 (812) 123-45-67
				.header__center
					nav.navbar
						ul
							each t in ['Каталог', 'Доставка', 'Коллекции', 'Контакты']
								a.navbar__item.link-w(href='#')=t
				.header__button
					.button.button_left: a.link-w(href='#') винная карта
					.button.button_right: a.link-w(href='#') дегустация
		.business_card
			.container
				.card
					.card__title.title_name
						h1.title Лучший вкус, это вкус долголетнего вина
						.line
					.card__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac. Mauris dictumst risus pulvinar blandit elit. Vestibulum quam ultrices nascetur et viverra suscipit. Proin vitae aliquet leo aliquam amet rutrum. Lectus auctor purus ultrices enim ultrices. Augue fringilla tellus tortor orci ultrices sed. Viverra cras sapien, pellentesque viverra malesuada. Tellus dolor, eget vitae dignissim molestie eget sit duis. Vitae dui vel pretium euismod diam. Pellentesque amet, lacus, amet, quis risus. Pellentesque scelerisque nunc, orci aliquam quis.
					.card__glass: img(src="/img/svg/glass.svg", alt="glass") 
		.info_card
			.container
				.info
					.harvest
						p.subtitle Новинки коллекций	
						h2.info_title Март 1980 </br> Урожай Марселя
						.line
						p.info_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac. 
						table
							- for (var x = 0; x < 3; x++)
								+str('1980', 'Colli Euganei Bianco Ca Lustra 1980', 'Красочная бутылка вина из Марселя')
						p.info_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac. 
						.info_button.button: a.link-w(href='#') узнать подробнее
					.images
						img.images_top(src="/img/info_1.jpg", alt='images')
						img.images_left(src="/img/info_2.jpg", alt='images')
						img.images_right(src="/img/info_3.jpg", alt='images')
		.recording
			.container
				.sheet
					.sheet_title
						h3.title Запись на дегустацию
						.line
					img.sheet_left(src="/img/top_left.png", alt='imades')
					img.sheet_right(src="/img/top_right.png", alt='imades')
					.sheet_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. 
					.fields
						input.fields_left.fields_text(value="Имя", tabindex='1', name='username', type='text')
						input.fields_right.fields_text(value="Телефон", tabindex="2",name="userphone" type="text")
						input.fields_center.fields_text(value="Бутик на Невском 103", tabindex="3",name="useraddress" type="text")
					.recording_button.button: a.link-w(href='#') записаться
		.footer_box
			.container
				.footer
					.footer__nav
						each t in ['Главная', 'Каталог', 'Поставщики', 'Коллекции', 'Дегустация', 'Коллекция 2020', 'Контакты']
								a.navbar__item.link-w(href='#')=t
					.footer__bottom
						.text_left.footer_text винный бутик LE CORTE
						.footer__telephone 8 (812) 123-45-67
						.soc_icons
							img(src='/img/svg/youtub.svg', alt='icon')
							img(src='/img/svg/vk.svg', alt='icon') 
							img(src='/img/svg/facebook.svg', alt='icon') 
						.text_right.footer_text © le-corte.ru	



block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="js/main.js")
	script(src="js/vendor.js")