extends layouts/default
include helpers/mixins

block variables
	- const title = "wine-shope"

	mixin card(images, text, price)
		.card__img 
			img.hours-img(src= images, alt="hours")
			h3.card__subtitle: a.card-link.link-w(href='#')= text
			p.price: a.card-link.link-w.text_price(href='#')= price

block content
		header.header
			.container
				.header__top
					p.address Новокузнечный переулок 4/1
					p.telephone 8 (812) 123-45-67
				.header__center
					nav.navbar
						ul
							each t in ['Каталог', 'Доставка', 'Коллекции', 'Контакты']
								a.navbar__item.link-w(href='#')=t
				.header__button
					.button.button_left: a.link-w(href='#') винная карта
					.button.button_right: a.link-w(href='#') дегустация
		.business_card
			.container
				.card
					.card__title.title_name
						h1.title Лучший вкус, это вкус долголетнего вина
						.line
					.card__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac. Mauris dictumst risus pulvinar blandit elit. Vestibulum quam ultrices nascetur et viverra suscipit. Proin vitae aliquet leo aliquam amet rutrum. Lectus auctor purus ultrices enim ultrices. Augue fringilla tellus tortor orci ultrices sed. Viverra cras sapien, pellentesque viverra malesuada. Tellus dolor, eget vitae dignissim molestie eget sit duis. Vitae dui vel pretium euismod diam. Pellentesque amet, lacus, amet, quis risus. Pellentesque scelerisque nunc, orci aliquam quis.
					.card__glass: img(src="/img/svg/glass.svg", alt="glass") 	
								


block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="js/main.js")
	script(src="js/vendor.js")