@font-face {
	font-family: 'Conv_PostNoBillsJaffna-Regular';
	src: url('../fonts/PostNoBillsJaffna-Regular.eot');
	src: local('☺'), url('../fonts/PostNoBillsJaffna-Regular.woff') format('woff'), url('../fonts/PostNoBillsJaffna-Regular.ttf') format('truetype'), url('../fonts/PostNoBillsJaffna-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//font-family: 'PT Sans';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

//font-family: 'Playfair Display';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
